<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124180096807-luea464plebbc9egpc07bfn7dir7ju99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124180096807-luea464plebbc9egpc07bfn7dir7ju99</string>
	<key>API_KEY</key>
	<string>AIzaSyBvA0QPbX1mJNctTfgJDFrKCnJMpQl-dyI</string>
	<key>GCM_SENDER_ID</key>
	<string>124180096807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testWaco</string>
	<key>PROJECT_ID</key>
	<string>textwaco</string>
	<key>STORAGE_BUCKET</key>
	<string>textwaco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124180096807:ios:10225f48582d2def212b02</string>
</dict>
</plist>